
@{
    /**/

    ViewBag.Title = "Immissione / modifica telai";
}

<h3>Immissione / modifica telai</h3>


@Html.ActionLink("Torna a selezione telai", "Index", "Home")

@using (Html.BeginForm())
{
    <div class="form-horizontal" style="display:none" >
        @{string aTarga = ViewBag.aTarga;}
        @{string aMatricola = ViewBag.aMatricola;}
        Targa: @Html.TextBox("Targa", aTarga, new { style = "width:80px" })
        Matricola:  @Html.TextBox("Matricola", aMatricola, new { style = "width:80px" })

        <input type="submit" id="Test" value="Cerca targa su Database" />




    </div>
}
<br /><br />
@{string aMessage = ViewBag.Messaggio;}

@if (ViewBag.Controllo == 0)
{
    <div style="background-color: red ">
        @aMessage
    </div>

}
else if (ViewBag.Controllo == 1)
{
    
    using (Html.BeginForm("CreaNuovaTarga", "Telaio", FormMethod.Post))
    {

        <div id="Test" style="background-color:lightgreen">
            Situazione targa : @aMessage
            <br />
           
            
        </div>
        <br />
        <div style="display:none">
            @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"])

        </div>
        
    <input type="submit" value="Crea targa e apri scheda" />
    }
}
else if (ViewBag.Controllo == 2)
{
    <div style="background-color: green">
        @aMessage
    </div>
}
else if (ViewBag.Controllo == 3)
{
    using (Html.BeginForm("Salva", "Telaio", FormMethod.Post))
    {

        <div id="Test" style="background-color:lightgreen">
            Situazione targa : @aMessage
            <br />

        </div>
        <br />
        <div style="display:none">
            @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"])
        </div>
        <input type="submit" value="Assegna targa e apri scheda" />
    }
}
else if (ViewBag.Controllo == 4)
{
    <div style="background-color: green">
        @aMessage
    </div>
}

@{ string myResult = ViewBag.MessaggioQuery;}
@if (!String.IsNullOrEmpty(myResult))
{
    <div style="color: red">
        @myResult
    </div>
    @*<p><a class="btn btn-default" href="@Url.Action("Index", "Home", null)">Torna a ricerca telai</a></p>*@

}


@{ string doitjs = Session["ExecJS"].ToString();}
@if (doitjs == "true")
{
    <script>

        var doit = true
        var auto_refresh = setInterval(
            function () {
                if (doit) {

                    doit = false;
                    submitform();
                }
                else
                    return;

            }, 10);   // mezzo secondo

    function submitform() {
        //alert('test');
        //document.frmMAPS.submit(); // SCOMMENTA MEEEEEEEEEEEEEEEE!!!!
        document.getElementById('Test').click();
        submitform = undefined;
    }

    @{Session["ExecJS"] = "false";}

    </script>
}




