@model ATManager.Models.HomeModel

@{
    ViewBag.Title = "ElencoTelai";
}
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />




<h2>ElencoTelai</h2>
<div>
    @Html.ActionLink("Torna a selezione telai", "Index") @*|| @Html.ActionLink("Inserisci telaio","Index", "Telaio")*@
    <p></p>
</div>

@{var myScelta = @Session["Status"].ToString();}

@if (Model.AT_ListaPratiche_vw.Count() == 0)
{
    string myStato = Session["Status"].ToString();
    if (myStato == "DA FARE")
    {

        <p>
            Ricerca dati in corso...



        </p>
        @*<p><a class="btn btn-default" id="Test" href="~/Telaio/Index">Premi per approfondire ricerca &raquo;</a></p>*@

        @*@Html.ActionLink("Inserisci telaio", "Index", "Telaio", new { myTarga = ViewBag.myTarga }, null);*@

        <p><a class="btn btn-default" style="display:none" id="Test" href="@Url.Action("Index", "Telaio", new { myTarga = ViewBag.myTarga, myMatricola = ViewBag.myMatricola, myIDLuogo = ViewBag.myIDLuogo })">Premi per approfondire ricerca</a></p>
    }
}

else
{
<table class="table" id="tblGrid" border="0">
    @*<table id="tblGrid" class="display cell-border compact order-column hover">*@
    <thead>
        <tr>
            @*<td  >Finito</td>*@
            <td><b>Targa</b></td>
            <td><b>Matricola</b></td>
            <td><b>Azioni</b></td>
            @if (myScelta == "FATTE" || myScelta == "FATTECHIUSE")
            {
                <td> &nbsp; </td>}
        </tr>
    </thead>
    <tbody>

        @if (Model.AT_ListaPratiche_vw.Count() == 0)
        {

            // Placeholder

        }
        else
        {



            foreach (var item in Model.AT_ListaPratiche_vw)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Targa)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.Matricola)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.Matricola)
                    </td>



                    @*@Html.ActionLink("Create", "Create", new { id = item.Perizie_ID }, new { @class = "searchImg" })*@

                    @if (myScelta == "TUTTE")
                    {
                        @*<td  >
                                @Html.ActionLink("Create", "Create", new { id = item.Perizie_ID, marca = item.Prod_Descr })
                            </td>
                            <td  >
                                @Html.ActionLink("Edit", "Edit", new { id = item.Perizie_ID })
                            </td>
                            <td  >
                                @Html.ActionLink("Delete", "Delete", new { id = item.Perizie_ID })
                            </td>*@

                    }

                    else if (myScelta == "DA FARE")
                    {
                        <td>
                            @Html.ActionLink("Inserisci scheda", "Create", new
                       {
                           id = item.Perizie_ID,
                           dataperizia = DateTime.Now.ToString("dd/MM/yyyy"),
                           marca = item.Prod_Descr,
                           targa = item.Targa,
                           dataimmatricolazione = item.DataImmatricolazione,
                           km = item.Km,
                           luogoperizia = item.DescrITA,
                           modello = item.Mod_Descr,
                           cartacircolazione = item.CartaCircolazione,
                           matricola = item.Matricola,
                           telaio = item.Chassis1 + item.Chassis2,
                           dataultimarevisione = item.DataUltimaRevisione,
                           aziendautilizzatrice = item.DescrizioneAzienda


                       })
                            @*<br></br>@Html.ActionLink("Inserisci Foto perizia", "FotoPerizia", new { id = item.Perizie_ID })*@
                        </td>
                        @*<td  >
                                @Html.ActionLink("Foto perizia", "FotoPerizia", new { id = item.Perizie_ID })
                            </td>*@
                    }

                    else if (myScelta == "FATTE")
                    {
                        <td>
                            @Html.ActionLink("Modifica scheda", "Edit", new
                       {
                           id = item.Perizie_ID,
                           dataperizia = item.Perizie_DataPerizia,
                           marca = item.Prod_Descr,
                           targa = item.Targa,
                           dataimmatricolazione = item.DataImmatricolazione,
                           km = item.Km,
                           luogoperizia = item.DescrITA,
                           modello = item.Mod_Descr,
                           cartacircolazione = item.CartaCircolazione,
                           matricola = item.Matricola,
                           telaio = item.Chassis1 + item.Chassis2,
                           dataultimarevisione = item.DataUltimaRevisione,
                           aziendautilizzatrice = item.DescrizioneAzienda,
                           blocked = "NO"
                       })
                        </td>
                        <td>
                            @Html.ActionLink("Elimina scheda", "Delete", new { id = item.Perizie_ID })
                        </td>
                        @*<td  >
                                @Html.ActionLink("Foto", "Image", new { id = item.Perizie_ID }, new { @class = "photoImg" })
                            </td>*@
                    }
                    else if (myScelta == "FATTECHIUSE")
                    {
                        <td>
                            @Html.ActionLink("Visualizza scheda", "Edit", new
                       {
                           id = item.Perizie_ID,
                           dataperizia = item.Perizie_DataPerizia,
                           marca = item.Prod_Descr,
                           targa = item.Targa,
                           dataimmatricolazione = item.DataImmatricolazione,
                           km = item.Km,
                           luogoperizia = item.DescrITA,
                           modello = item.Mod_Descr,
                           cartacircolazione = item.CartaCircolazione,
                           matricola = item.Matricola,
                           telaio = item.Chassis1 + item.Chassis2,
                           dataultimarevisione = item.DataUltimaRevisione,
                           aziendautilizzatrice = item.DescrizioneAzienda,
                           blocked = "SI"
                       })
                        </td>

                        @*<td>
                                @Html.ActionLink("Elimina scheda", "Delete", new { id = item.Perizie_ID })
                            </td>*@
                    }

                </tr>
            }
        }
    </tbody>
</table>
}
<div>
    @Html.ActionLink("Torna a selezione telai", "Index")
</div>

<script>


    $(document).ready(function () {
        gridDataTableView("lista telai.xls");
    });

    //gridDataTableView = function (fname) {
    //    $('#tblGrid').dataTable({
    //        "bFilter": false,
    //        "bLengthChange": false, "bPaginate": true, "bInfo": true,
    //        dom: 'Bfrtip',
    //        "order": [[0, 'desc'], [1, 'desc']],
    //        buttons: [{ extend: 'excelHtml5', text: 'Export data Excel', className: 'link_button', title: fname }]
    //    });
    //gridDataTableView = function (fname) {
    //    $('#tblGrid').dataTable({
    //        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    //        "pageLength": 25, "pagingType": "full_numbers",
    //        "bFilter": false,
    //        "bLengthChange": false, "bPaginate": true, "bInfo": true,
    //        dom: 'Bfrtip',
    //        "order": [[0, 'desc'], [1, 'desc']],
    //        buttons: []
    //    });
    gridDataTableView = function (fname) {
        $('#tblGrid').dataTable({
            language: {
                processing: "Ricerca in corso...",
                search: "Ricerca:",
                lengthMenu: "Visualizza _MENU_ elementi",
                info: "Elenca da _START_ a _END_ di _TOTAL_ elementi",
                infoEmpty: "Elenca da 0 a 0 di 0 elementi",
                infoFiltered: "(filtrati da _MAX_ elementi totali)",
                infoPostFix: "",
                loadingRecords: "Caricamento...",
                zeroRecords: "La ricerca non ha portato alcun risultato.",
                emptyTable: "Nessun record presente in tabella",
                paginate: {
                    first: "Inizio",
                    previous: "Precedente",
                    next: "Successivo",
                    last: "Fine"
                },
                aria: {
                    sortAscending: ": attiva per ordinare la colonna in ordine crescente",
                    sortDescending: ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            select: true,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tutti    "]],
            "bFilter": false,
            "bLengthChange": true,
            "bPaginate": true,
            "bInfo": true,
            "order": [[0, 'desc'], [1, 'desc']],
            buttons: []
        });
    }

</script>

<script>
    var doit = true
    var auto_refresh = setInterval(
        function () {
            if (doit) {

                doit = false;
                submitform();
            }
            else
                return;

        }, 10);   // mezzo secondo

    function submitform() {
        document.getElementById('Test').click();
    }

</script>
