
@{
    ViewBag.Title = "Index";
}

<h3>AT Manager</h3>
<br />

<table border="0">
    <tr>
        <td>Benvenuto, &nbsp;</td>
        <td style="color:green">@ViewBag.nome @ViewBag.cognome</td>
    </tr>

</table>
<br />
@using (Html.BeginForm("ContaTelai", "Home", FormMethod.Get))
{

    <table border="0">
        <tr>
            <td>
                Seleziona località perizia:
                @if (@Session["Location"].ToString() == "")
                {
                    @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"], htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" })
                }
                else
                {
                    @Html.DropDownList("SearchLocation", (SelectList)ViewData["Luoghi"],new { @class = "form-control", @onchange = "this.form.submit();" })
                }
            </td>
        </tr>
    </table>
}

                                @using (Html.BeginForm("DoRefresh", "Home", FormMethod.Get))
{
    <div class="form-horizontal">
        @{var Scelta01 = "Tutti    :";}
        @{var Scelta02 = "Schede da fare :";}
        @{var Scelta03 = "Schede aperte :";}
        @{var Scelta04 = "Schede chiuse    :";}



        <br />
        <table border="0">
            <tr>
                <td>
                    Veicoli da visionare : &nbsp;
                </td>
                <td>
                    @ViewBag.Tutte
                </td>
            </tr>
            <tr>
                <td>
                    Veicoli senza scheda : &nbsp;
                </td>
                <td>
                    @ViewBag.Chiuse
                </td>
            </tr>
            <tr>
                <td>
                    Veicoli con scheda completata : &nbsp;
                </td>
                <td>
                    @ViewBag.Chiuse
                </td>
            </tr>
            <tr>
                <td>
                    Veicoli con scheda da completare : &nbsp;
                </td>
                <td>
                    @ViewBag.Aperte
                </td>
            </tr>
        </table>
        <br>
        <table border="0">
            <tr>
                <td>@Scelta01 &nbsp;</td>

                <td>@Html.RadioButton("Opt1", "TUTTE", new { @onclick = "this.form.submit();" })</td>

            </tr>
            <tr>
                <td>&nbsp;@Scelta02&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "DA FARE", new { @onclick = "this.form.submit();" })</td>
            </tr>
            <tr>
                <td style="color:green">&nbsp;@Scelta03&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "FATTE", new { @onclick = "this.form.submit();" })</td>
            </tr>
            <tr>
                <td style="color:red">&nbsp;@Scelta04&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "FATTECHIUSE", new { @onclick = "this.form.submit();" })</td>
            </tr>

        </table>
        <p></p><p></p>
        <table border="0">
            <tr>
                <td>
                    Targa : &nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("CercaTarga", null, new { style = "width:80px" })
                    @Html.ValidationMessage("CercaTarga")
                    <input type="submit" value="Cerca x targa" />
                </td>


            </tr>
            <tr>
                <td>
                    -
                </td>
            </tr>
            <tr>

                <td>
                    Matricola : @Html.TextBox("CercaMatricola", null, new { style = "width:80px" })
                    @Html.ValidationMessage("CercaMatricola")
                    <input type="submit" value="Cerca x matricola" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            @*<tr>
                    <td >Location :</td>
                </tr>
                <tr>
                    <td >    @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"])</td>
                </tr>*@
        </table>

    </div>
}

