
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function AttivaOpzioni() {
        document.getElementById('AttivaOpzioni').style.display = 'block';
    }
    function DisAttivaOpzioni() {
        canmodify = true;
        document.getElementById('AttivaOpzioni').style.display = 'none';
    }
</script>

<script>
    function ResetCombo() {
        @Session["Location"] = "";
    }
</script>


<h3>AT Manager</h3>
<br />
@{bool canmodify = true;}
<table border="0">
    <tr>
        <td>Benvenuto, &nbsp;</td>
        <td style="color:green">@ViewBag.nome @ViewBag.cognome</td>
    </tr>

</table>
<br />


@using (Html.BeginForm("ContaTelai", "Home", FormMethod.Get))
{

    <table border="0">
        <tr>
            <td>
                Seleziona località :
                <br /><br />
                @*<p style="color:red">TODO : Memorizzare location prescelta</p>*@

                @if (@Session["Location"].ToString() == "")
                {
                    canmodify = true;
                    @Html.DropDownList("SearchLocation", (SelectList)ViewData["Luoghi"], new { @class = "form-control", @onchange = "this.form.submit();", @onclick = "AttivaOpzioni();" })
                }
                else
                {
                    canmodify = false;
                    @*@Html.DropDownList("SearchLocation", (SelectList)ViewData["Luoghi"], new { @class = "form-control", @onchange = "this.form.submit();", @onclick = "AttivaOpzioni();" })*@
                    @Html.DropDownList("SearchLocation", (SelectList)ViewData["Luoghi"], new { @class = "form-control", @onchange = "this.form.submit();", @onclick = "AttivaOpzioni();" })
                }
            </td>
        </tr>
    </table>
}

@*@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div>
        @{Session["Location"] = "";}
        Sblocca ricerca località : @Html.CheckBox("AutoCalculateMandate", true, new { @checked = false, @onchange = "this.form.submit();" })
    </div>
}*@


@using (Html.BeginForm("DoRefresh", "Home", FormMethod.Get))
{
    

    <div class="form-horizontal">
        @{var Scelta01 = "Elenco completo veicoli  :";}
        @{var Scelta02 = "Veicoli senza scheda :";}
        @{var Scelta03 = "Veicoli con scheda da completare :";}
        @{var Scelta04 = "Veicoli con scheda completata:";}



        <br />
        @if (ViewBag.Location != null)
        {
            <table border="1">
                <tr>
                    <td style="font-weight:bold">
                        &nbsp;Location : &nbsp;
                    </td>
                    <td style="font-weight:bold">
                        &nbsp;@ViewBag.Location
                    </td>
                    <td style="font-weight:bold;text-align:center">
                        &nbsp;Vai a lista !
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;Veicoli da visionare : &nbsp;
                    </td>
                    <td style="text-align:center">
                        &nbsp;@ViewBag.Tutte
                    </td>
                    <td>
                        
                        

                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;Veicoli senza scheda : &nbsp;
                    </td>
                    <td style="text-align:center">
                        &nbsp;@ViewBag.Assenti
                    </td>
                    <td style="font-weight:bold;text-align:center">
                        @Html.RadioButton("Opt1", "DA FARE", new { @onclick = "this.form.submit();" })


                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;Veicoli con scheda da completare : &nbsp;
                    </td>
                    <td style="text-align:center">
                        &nbsp;@ViewBag.Aperte
                    </td>
                    <td style="font-weight:bold;text-align:center">
                        @Html.RadioButton("Opt1", "FATTE", new { @onclick = "this.form.submit();" })


                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;Veicoli con scheda completata : &nbsp;
                    </td>
                    <td style="text-align:center">
                        &nbsp;@ViewBag.Chiuse
                    </td>
                    <td style="font-weight:bold;text-align:center">
                        @Html.RadioButton("Opt1", "FATTECHIUSE", new { @onclick = "this.form.submit();" })


                    </td>
                </tr>

            </table>
        }
        else
        {
            <div style="color:red">
                Non ci sono telai in questa località...
            </div>
        }
        <br>

        <table id="AttivaOpzioni" border="0">
            @*<tr>
                    <td>&nbsp;@Scelta01&nbsp;</td>

                    <td>@Html.RadioButton("Opt1", "TUTTE", new { @onclick = "this.form.submit();" })</td>

                </tr>*@
            <tr>
                <td>&nbsp;@Scelta02&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "DA FARE", new { @onclick = "this.form.submit();" })</td>
            </tr>
            <tr>
                <td style="color:green">&nbsp;@Scelta03&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "FATTE", new { @onclick = "this.form.submit();" })</td>
            </tr>
            <tr>
                <td style="color:blue">&nbsp;@Scelta04&nbsp;</td>

                <td> @Html.RadioButton("Opt1", "FATTECHIUSE", new { @onclick = "this.form.submit();" })</td>
            </tr>

        </table>
        <p></p><p></p>
        <table border="0">
            <tr>
                <td>
                    Targa : &nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("CercaTarga", null, new { style = "width:80px" })
                    @Html.ValidationMessage("CercaTarga")
                    <input type="submit" value="Cerca x targa" />
                </td>


            </tr>
            <tr>
                <td>
                    -
                </td>
            </tr>
            <tr>

                <td>
                    Matricola : @Html.TextBox("CercaMatricola", null, new { style = "width:80px" })
                    @Html.ValidationMessage("CercaMatricola")
                    <input type="submit" value="Cerca x matricola" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            @*<tr>
                    <td >Location :</td>
                </tr>
                <tr>
                    <td >    @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"])</td>
                </tr>*@
        </table>

    </div>
}

@if (canmodify)
{
    @*<script>DisAttivaOpzioni();</script>*@
}