@model ATManager.Models.AT_SchedaTecnica

@{
    ViewBag.Title = "Delete2";
}

<h2>Delete2</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AT_SchedaTecnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPerizia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPerizia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_StatiMezzo.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_StatiMezzo.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_TipiScheda.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_TipiScheda.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione1.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione1.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione2.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione2.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione3.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione3.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione4.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione4.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione5.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione5.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione6.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione6.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione7.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione7.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione8.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione8.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione9.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione9.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione10.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione10.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione11.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione11.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione12.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione12.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione13.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione13.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione14.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione14.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione15.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione15.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione16.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione16.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione17.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione17.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione19.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione19.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione20.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione20.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione21.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione21.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione22.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione22.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione23.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione23.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione24.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione24.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione25.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione25.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione26.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione26.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione27.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione27.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione28.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione28.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione29.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione29.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione30.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione30.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione31.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione31.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione32.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione32.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione33.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione33.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione34.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione34.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione35.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione35.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione36.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione36.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione37.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione37.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione38.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione38.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione39.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione39.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione40.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione40.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione111.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione111.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione401.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione401.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AT_IndiciValutazione181.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AT_IndiciValutazione181.Descr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
